table
  width: 100%
  border-spacing: 0
  border-collapse: separate

  th
    text-align: left
    border-bottom: 1px solid #999
    font-size: 19px
    line-height: 30px
  
  th, td
    padding: 0 10px

  th:last-child, td:last-child
    text-align: right
  td
    font-size: 17px
    line-height: 30px